#box {
  height: 30px;
  width: 30px;

  position: absolute;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  border: var(--stroke-width) dashed black;

  animation: rotate 2s ease-in-out infinite;
}

@keyframes rotate {
  to {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
