header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;

  padding: 0.5rem 1rem;
  box-shadow: 0 1px 10px black;
  margin-bottom: var(--gap);
  background-color: var(--very-dark-blue);
  z-index: 3;
}

header p {
  margin-inline: 1rem auto;
}

header span {
  color: var(--heading-color);
}

main {
  width: 100%;
  padding-inline: clamp(var(--gap), 5vw, 75px);
  display: flex;
  flex-direction: column;
  row-gap: var(--gap);
  padding-block: calc(var(--gap) * 2);
  box-shadow: 0 1px 10px #000;
  margin-bottom: var(--gap);
}

main .description {
  display: inline-block;
}

#introduction p {
  color: var(--gray);
}

main .description span {
  color: var(--heading-color);
  font-size: 1.15rem;
}

#introduction .about {
  border-left: var(--gray) medium solid;
  padding-left: var(--gap);
  margin-top: auto;
}

#introduction .prof-links {
  display: flex;
  align-items: center;
  margin-top: var(--gap);
  gap: calc(var(--gap) * 2);
}

#introduction .prof-links li:hover {
  transition: color 250ms ease-out;
}
#introduction .prof-links li:hover {
  color: var(--sweet-orange);
}

main .description .projects {
  all: unset;
  height: 30px;
  width: 110px;
  border-radius: 15px;
  color: black;
  margin-top: var(--gap);
  background-color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  cursor: pointer;
  box-sizing: border-box;
}

main .description .projects:focus-visible,
main .description .projects:active {
  border: var(--stroke-width) solid var(--sweet-orange);
}

#recent-projects .projects {
  margin-top: var(--gap);
  display: flex;
  justify-content: space-between;
  row-gap: min(2vw, 26px);
  flex-wrap: wrap;
}
