header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;

  padding: 0.5rem 1rem;
  box-shadow: 0 1px 10px black;
  margin-bottom: var(--gap);
  background-color: var(--very-dark-blue);
  z-index: 3;
}

header p {
  margin-inline: 1rem auto;
}

header span {
  color: var(--heading-color);
}

main {
  width: 100%;
  padding-inline: clamp(var(--gap), 5vw, 75px);
  display: flex;
  flex-direction: column;
  row-gap: var(--gap);
}

#introduction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: var(--gap);
}

main .description {
  margin-top: auto;
  margin-right: auto;
}

main .description h1 {
  font-weight: 550;
  letter-spacing: 0.2rem;
}

main .description p {
  color: var(--gray);
}

main .description span {
  color: var(--heading-color);
  font-size: 1.15rem;
}

main .description .projects {
  all: unset;
  height: 40px;
  width: 180px;
  border-radius: 20px;
  color: black;
  margin-top: var(--gap);
  background-color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 15px;
  cursor: pointer;
  box-sizing: border-box;
}

main .description .projects:focus-visible,
main .description .projects:active {
  border: var(--stroke-width) solid var(--sweet-orange);
}

h2 {
  font-weight: 500;
}

#recent-projects .projects {
  margin-top: var(--gap);
  display: flex;
  justify-content: space-between;
  row-gap: min(2vw, 26px);
  flex-wrap: wrap;
}

@media (max-width: 550px) {
  main .description {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 0;
  }
  main .description h1 {
    text-align: end;
  }
}
