header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  width: 100%;

  padding: 8px 16px;
  box-shadow: 0 1px 10px black;
  margin-bottom: var(--content-space);
  background-color: var(--very-dark-blue);
  z-index: 3;
  position: relative;
}

header p {
  margin-inline: 1rem auto;
}

header span {
  font-size: 1rem;
  color: var(--heading-color);
}

main {
  width: 100%;
  padding-inline: 5vw;
}

#introduction {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--content-space);

  /* mediaquery */
  justify-content: center;
}

main .description {
  margin-top: auto;
  margin-right: auto;
}

main .description h1 {
  font-weight: 550;
  letter-spacing: 3px;
}

main .description p {
  color: var(--gray);
}

main .description span {
  color: var(--heading-color);
  font-size: 1.15rem;
}

main .description .projects {
  all: unset;
  height: 40px;
  width: 180px;
  border-radius: 20px;
  color: black;
  margin-top: var(--content-space);
  background-color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 15px;
  cursor: pointer;
  box-sizing: border-box;
}

main .description .projects:focus-visible,
main .description .projects:active {
  border: 2px solid var(--sweet-orange);
}

h2 {
  font-weight: 500;
}

#recent-projects .projects {
  margin-top: var(--content-space);
  display: flex;
  gap: min(2vw, 26px);
  flex-wrap: wrap;
}
