:root {
  --very-dark-blue: #1e1b2d;
  --dark-blue: #222033;
  --gray: #68739c;
  --dark-purple: #6441b1ff;
  --sweet-orange: #e84300;
  --sweet-pink: #bc5b85;
  --font-color: #fff8e5;
  --heading-color: #ffe6a0;
  --bg-filter: #6441b138;

  /* dimensions */
  font-size: clamp(14px, 1.2vw, 17px);
  --gap: 1rem;
  --offset-nav: 100px;
  --stroke-width: 2px;
}

@font-face {
  font-family: "JackInput";
  src: url(../assets/fonts/jackinput/JAi_____.TTF) format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "JackInput";
  color: var(--font-color);
}

a {
  all: unset;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--dark-blue);
}

#root {
  background-color: var(--very-dark-blue);
  width: clamp(800px, 80vw, 1200px);
  height: calc(100vh - 2 * var(--gap));
  position: relative;

  box-shadow: 0 0 10px black;
  margin-block: var(--gap);
  padding-bottom: var(--gap);
  overflow-y: auto;
  scrollbar-width: none;
  overflow-x: hidden;
}

header,
main {
  user-select: none;
}

@media (max-width: 800px) {
  #root {
    width: 100vw;
    height: 100vh;
    margin-block: 0;
  }
}
