:root {
  --very-dark-blue: #1d1f27ff;
  --gray: #68739c;
  --dark-blue: #232631;
  --dark-purple: #6441b1ff;
  --sweet-orange: #e84300;
  --sweet-pink: #bc5b85;
  --font-color: #fff8e5;
  --heading-color: #ffe6a0;
  --bg-filter: #6441b138;
  --content-space: 15px;
  --paddOrMarg: 10px;
}

@font-face {
  font-family: "JackInput";
  src: url(../assets/fonts/jackinput/JAi_____.TTF) format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "JackInput";
  color: var(--font-color);
}

a {
  all: unset;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--dark-blue);
}

#root {
  background-color: var(--very-dark-blue);
  width: clamp(900px, 80vw, 1200px);
  height: calc(100vh - 2 * var(--paddOrMarg));
  position: relative;

  box-shadow: 0 0 10px black;
  margin-block: var(--paddOrMarg);
  padding-bottom: var(--paddOrMarg);
  overflow-y: auto;
  scrollbar-width: none;
}
