nav a {
  margin-inline-start: 1rem;
}

nav .underline {
  height: 2px;
  width: 100%;
  margin-top: 2px;
  background: linear-gradient(
    to right,
    var(--dark-blue),
    var(--sweet-orange),
    white,
    var(--sweet-orange),
    var(--dark-blue)
  );
  border-radius: 1px;
  transform-origin: center center;
  transition: transform 250ms ease-out;
  transform: scaleX(0);
}

nav a:hover .underline {
  transform: scaleX(1);
}
