.project-card {
  position: relative;
  display: block;
  width: fit-content;
  overflow: hidden;
  border-radius: 10px;
  width: clamp(150px, 15vw, 230px);
  height: clamp(150px, 15vw, 230px);
  overflow: hidden;
  background-color: rgba(112, 46, 46, 0.168);
}

.project-card::before {
  content: "";
  inset: 0;
  background-color: rgba(112, 46, 46, 0.168);
  display: block;
  position: absolute;
  z-index: 1;
  transition: opacity 500ms;
}

.project-card:hover::before {
  opacity: 0;
}

.project-info {
  position: absolute;
  transform: translateY(-100%);
  top: 100%;
  padding: 10px;
  z-index: 2;
}
.project-info h3 {
  font-weight: 500;
  /* letter-spacing: 5px; */
  font-size: 0.9rem;
  color: var(--heading-color);
  margin-bottom: 5px;
}
.project-info p {
  font-size: 9px;
  color: var(--font-color);
}
.project-video,
.project-image {
  width: inherit;
  display: block;
  transform-origin: center center;
  transition: transform 250ms;
}

.project-card:hover .project-video,
.project-card:hover .project-image {
  transform: scale(1.1);
}
