.project {
  position: relative;
  display: block;
  border-radius: 0.5rem;
  width: clamp(160px, 15vw, 230px);
  height: clamp(160px, 15vw, 230px);
  overflow: hidden;
  background-color: rgba(112, 46, 46, 0.168);
}
.project:focus-visible {
  outline: thin solid var(--heading-color);
}

.project::before {
  content: "";
  inset: 0;
  background-color: rgba(112, 46, 46, 0.168);
  display: block;
  position: absolute;
  z-index: 1;
  transition: opacity 500ms;
}

.project:hover::before {
  opacity: 0;
}

.project-info {
  position: absolute;
  transform: translateY(-100%);
  top: 100%;
  padding: 10px;
  z-index: 2;
}
.project-info h3 {
  font-weight: 500;
  letter-spacing: 0.4rem;
  color: var(--heading-color);
  margin-bottom: 5px;
}
.project-info h6 {
  font-weight: 100;
  color: var(--font-color);
}
.project-thumbnail {
  width: 100%;
  display: block;
  transform-origin: center center;
  transition: transform 250ms;
  object-fit: contain;
}

.project.video:hover .project-thumbnail,
.project.video:focus-visible .project-thumbnail,
.project.video:active .project-thumbnail {
  transform: scale(1.1);
}

.project.image {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  transition: background-size 250ms ease-in;
}
.project.image:active,
.project.image.active {
  background-size: 105%;
}
