.project-card {
  position: relative;
  display: block;
  border-radius: 0.5rem;
  width: clamp(150px, 15vw, 230px);
  height: clamp(150px, 15vw, 230px);
  overflow: hidden;
  background-color: rgba(112, 46, 46, 0.168);
}
.project-card:focus-visible {
  outline: thin solid var(--heading-color);
}

.project-card::before {
  content: "";
  inset: 0;
  background-color: rgba(112, 46, 46, 0.168);
  display: block;
  position: absolute;
  z-index: 1;
  transition: opacity 500ms;
}

.project-card:hover::before {
  opacity: 0;
}

.project-info {
  position: absolute;
  transform: translateY(-100%);
  top: 100%;
  padding: 10px;
  z-index: 2;
}
.project-info h3 {
  font-weight: 500;
  letter-spacing: 0.4rem;
  color: var(--heading-color);
  margin-bottom: 5px;
}
.project-info h6 {
  font-weight: 100;
  color: var(--font-color);
}
.project-thumbnail {
  width: inherit;
  display: block;
  transform-origin: center center;
  transition: transform 250ms;
}

.project-card:hover .project-thumbnail,
.project-card:focus-visible .project-thumbnail,
.project-card:active .project-thumbnail {
  transform: scale(1.1);
}
