#nav-overlay {
  inset: 0;
  display: block;
  background-color: #0000004b;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  transition: opacity 0.5s;
}

#nav-overlay.open {
  pointer-events: auto;
  opacity: 1;
}

#menu {
  display: flex;
  cursor: pointer;
  z-index: 3;
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  width: 40px;
  height: 40px;

  background-color: transparent;
}
#menu img {
  transition: transform 0.25s ease-out;
}

#menu:hover img {
  transform: scale(1.05);
}
#menu:focus-visible,
#menu:active {
  border: 1px solid var(--heading-color);
}

#nav-bar {
  width: 150px;
  height: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: calc(100% + var(--gap));
  top: calc(100% + var(--gap));

  background-color: #e842001a;
  border-radius: 0.5rem;
  border: #e84200bf solid var(--stroke-width);
  transition: transform 0.25s ease;
  overflow: hidden;
}

#nav-bar.open {
  transform: translateX(calc(-100% - 2rem));
}
